
@model List<PostMidProject.Models.user>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<body class="main-layout position_head">

    <div class="custom_label">
        <h1>Customers</h1>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Customer Id.</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in Model)
            {
                <tr>
                    <td>@c.User_Id</td>
                    <td>@c.Name</td>
                    <td>@c.Email</td>
                    <td>@c.Phone</td>
                </tr>
            }
        </tbody>
    </table>
    <!-- Javascript files-->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery-3.0.0.min.js"></script>
    <!-- sidebar -->
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/custom.js"></script>
</body>
